[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "==6.7"
flask = "*"
itsdangerous = "==0.24"
"jinja2" = "==2.9.6"
latexcodec = "==1.0.5"
markupsafe = "==1.0"
pybtex = "==0.20"
pyyaml = "==3.12"
werkzeug = "==0.12.2"


[dev-packages]

