{% extends "base.html" %}

{% block title %}
Add new entry | Bib
{% endblock %}

{% block content %}

<h1>Add new entry</h1>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="pdf">Select a PDF to upload</label>
        <input name="pdf" id="pdf" type="file" class="form-control-file">
    </div>
    <div class="form-group">
        <label for="bib">Bibtex</label>
        <textarea name="bib" id="bib" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="destinationPath">Destination path</label>
        <input name="destinationPath" id="destinationPath" type="text" class="form-control" value="{{ destination_path }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
