<div class="modal fade" id="{{ entry.key }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ entry.key }} ({{ entry.type }})</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table">
            {% for key, value in entry.items() %}
                {% if key not in ['key', 'type'] %}
                    <tr>
                        <td><b>{{ key }}</b></td>
                        <td id="{{ entry.key }}-{{ key }}">{{ value }}</td>
                        <td>
                            <button onclick="fieldEdit('{{ entry.key }}', '{{ key }}')" type="button" class="btn btn-sm btn-outline-primary">✎ edit</button>
                            <button onclick="fieldRemove('{{ entry.key }}', '{{ key }}')" type="button" class="btn btn-sm btn-outline-danger">✗ delete</button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

      </div>
    </div>
  </div>
</div>

