{% extends "base.html" %}

{% block title %}
{{ entry.key }} | Bibo
{% endblock %}

{% block content %}

<a href="/">&#8592; Back home</a>

<h1>{{ entry.key }}</h1>

{% if entry.fields.tags %}
    <p>
        {% for tag in entry.fields.tags.split(',') %}
            <span class="tag badge badge-secondary">{{ tag }}</span>
        {% endfor %}
    </p>
{% endif %}

<p>
    {% if entry.fields.file %}
        <button class="btn btn-primary" onclick="open_file('{{ entry.key }}')">Open file</button>
    {% else %}
        <em>No file found</em>
    {% endif %}
</p>

<div class="row">
    <div class="col-md">
        <table class="table">
            {% for key, value in entry.fields.items() %}
                {% if key not in ['review', 'tags'] %}  {# We show these already #}
                    <tr>
                        <td><b>{{ key }}</b></td>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="col-md">
        <h2>Review</h2>
        <p>{{ entry.fields.review }}</p>
    </div>
</div>

{% endblock %}
