{% extends "base.html" %}

{% block content %}

<div id="entries">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{{ bib_file }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add new entry</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="sortByDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </a>
                    <div class="dropdown-menu" aria-labelledby="sortByDropdown">
                        <button class="sort dropdown-item" data-sort="key">Key</button>
                        <button class="sort dropdown-item" data-sort="author">Author</button>
                        <button class="sort dropdown-item" data-sort="title">Title</button>
                        <button class="sort dropdown-item" data-sort="year">Year</button>
                    </div>
                </li>
            </ul>
            <form class="form-inline">
                <input class="search form-control mr-sm-2" placeholder="Filter entries" autofocus />
            </form>
        </div>
    </nav>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Key</th>
                <th>Title</th>
                <th>Year</th>
                <th>Author(s)</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody class="list">
            {% for entry in bib_data.entries.values() %}
                <tr>
                    <td>
                        <a href="entry/{{ entry.key }}" class="key"><b>{{ entry.key }}</b></a>
                        {% if entry.fields.tags %}
                            <div class="tag">
                                {% for tag in entry.fields.tags.split(',') %}
                                    <span class="badge badge-secondary">{{ tag }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td class="title">{{ entry.fields.title }}</td>
                    <td class="year">{{ entry.fields.year }}</td>
                    <td class="author">{{ entry.fields.author }}</td>
                    <td>
                        {% if entry.fields.file %}
                            <button class="btn btn-primary" onclick="open_file('{{ entry.key }}')">Open file</button>
                        {% endif %}
                        {% if entry.fields.url %}
                            <a class="btn btn-primary" href="{{ entry.fields.url }}">URL</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </ul>
</div>

{% endblock %}
